rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    function isAdmin() {
      return request.auth != null && (exists(/databases/$(database)/documents/admins/$(request.auth.uid)) || request.auth.token.email == 'tgff28970@gmail.com');
    }

    match /admins/{adminId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.email == 'tgff28970@gmail.com' && request.auth.uid == adminId;
    }

    match /users/{userId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    match /followers/{userId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    match /posts/{postId} {
      allow read: if true;
      allow create: if isAdmin();
      allow update: if true; // Allow counts to be updated by anyone.
      allow delete: if isAdmin();

      match /reactions/{reactionId} {
        allow read: if true;
        allow create, update: if request.auth != null && request.auth.uid == request.resource.data.userId;
        allow delete: if request.auth != null && request.auth.uid == resource.data.userId;
      }

      match /comments/{commentId} {
        allow read: if true;
        allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
        allow update: if isAdmin();
        allow delete: if isAdmin() || (request.auth != null && request.auth.uid == resource.data.userId);
      }
    }
  }
}
